/Pronder/bin
/Pronder/obj
/Pronder.Core/bin
/Pronder.Core/obj
/.vs
*Tom-Laptop
*Tom-PC
debug.log
/Pronder/Pronder/bin/x64/Debug/net8.0-windows10.0.19041.0
/Pronder/Pronder/obj
/Pronder/Pronder/bin/x64/Debug/net9.0-windows10.0.19041.0
